 <!-- Social Media Icons Section -->
 <div class="social-icons blur">
    <a href="https://instagram.com/shikhar._5834"  target="_blank" class="social-link">
      <i class="fa-brands fa-instagram"></i><span>Instagram</span>
    </a>
    <a href="https://twitter.com" target="_blank" class="social-link">
      <i class="fab fa-twitter"></i><span>Twitter</span>
    </a>
    <a href="https://www.linkedin.com/in/shikhar-tiwari-b40803222/" target="_blank" class="social-link">
      <i class="fab fa-linkedin-in"></i><span>LinkedIn</span>
    </a>
    <a href="https://github.com/ShikharT001" target="_blank" class="social-link">
      <i class="fab fa-github"></i><span>GitHub</span>
    </a>
  </div>
  
  <!-- Left Side Arrow Button for Skills -->
  <div class="skills-arrow-container">
    <button class="skills-arrow">
      <span>S</span>
      <span>K</span>
      <span>I</span>
      <span>L</span>
      <span>L</span>
      <span>S</span>
    </button>
  </div>
  